<h3>Edit your image</h3>


<%= simple_form_for @pin, :url => {:action => 'update'}, :html => {:class => 'form-horizontal'} do |f| %>
	
	<%= render(:partial => 'pin_form', :locals => {:f => f}) %>

	<%= f.button :submit, :value => 'Update Pin' %>

<% end %>

