<div class="container">
	<div class="span6 offset3">
		<div class="silky about-font">
			<h2> Hi I'm Marco</h2>
			<h4>And I'm building web applications in Ruby on Rails for Startups. Right now I'm having a blast doing the Learn2Code Firehose event with 25 amazingly talented people.<h4>
		</div>
	</div>
</div>
