// All the master styles for the entire app go here


//Font types go here:

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700);

.emotion {
	color: #333333;
}

.headline {
	font-family: 'Cabin Sketch', cursive;
	font-size: 54px;
}