// All the master styles for the entire app go here

// different backgrounds go here


.main-background {
	background: url('background.png');
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.about-background {
	background: url('http://farm1.staticflickr.com/126/387606063_408c203f6c_o.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


//Font types go here:

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700);

.emotion {
	color: #333333;
}

.headline {
	font-family: 'Cabin Sketch', cursive;
	font-size: 54px;
}

.about-font {
	color: white;
}

.intro-font {
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 100;
	font-size: 64px;
}

.description-font {
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	line-height: 30px;
	font-weight: 200;
	font-size: 22px;
}


