// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
	margin: 5px;
	padding: 5px;
	font-size: 14px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 260px;
	background-color: rgba(36, 32, 33, 0.5);
	color: white;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* image description for PINS */
.image-description {
	font-size: 24px;
	text-align: center;
}

/* on hover effect for images in PINS*/
.box .img-wrap{
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.box .img-overlay{
	background-color:#000;
	bottom:0;
	color:#fff;
	opacity:0;
	filter: alpha(opacity = 0);
	position:absolute;
	width:100%;
	height: 70%;
	padding: 3px;
	z-index:1000;
}
.box .img-overlay h4, .img-overlay p{
	padding:0 10px;
}
.box .img-wrap:hover .img-overlay{
	opacity:0.75;
	filter: alpha(opacity = 75);
	transition:opacity 0.75s;
	-moz-transition:opacity 0.75s;
	-webkit-transition:opacity 0.75s;
}